.dashboardHeaderFont {
    color: #200a5c;
    font-size: 14px;
    line-height: 20px;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .dashboard {
    color: #200a5c;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 0;
    top: -0.5px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }